/* resources/css/app.css */
@import 'bootstrap-icons/font/bootstrap-icons.css';/* Sisanya dari file CSS, seperti Tailwind CSS */
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Fredoka:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pernyataan CSS lainnya */
/* Add your custom styles in a separate CSS file or in the style section of your blade file */

/* Example custom styles for cards */
.card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
body{
    font-family: "Balsamiq Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
/* Add more custom styles as needed */
